{% for site_key, site in sites_available.items() %}

## --- {{ site.domain }} ---

{% if site.multisite %}
map $uri $blogname {
	~^(?P<blogpath>/[^/]+/)files/(.*)	$blogpath ;
}

map $blogname $blogid {
	default	-999 ;
	/	1 ;
}

{% endif %}
server {
	listen      80 ;
	listen      [::]:80 ;
	server_name {{ site.domain }} ;

	location ^~ /.well-known/acme-challenge/ {
		root /var/www/html/{{ site.domain }} ;
	}

	location / {
		return 301 https://$host$request_uri ;
	}
}

server {
	listen      443 ssl ;
	listen      [::]:443 ssl ;
	http2       on ;

	server_name   {{ site.domain }} ;
	server_tokens off ;
	set           $base /var/www/html ;
	root          $base/{{ site.domain }} ;

	ssl_certificate     /etc/letsencrypt/live/{{ site.domain }}/fullchain.pem ;
	ssl_certificate_key /etc/letsencrypt/live/{{ site.domain }}/privkey.pem ;
	include             /etc/nginx/conf.d/options-ssl-nginx.conf ;

	## security
	include /etc/nginx/conf.d/modules/security.conf ;

	## php and fastcgi
	include /etc/nginx/conf.d/modules/php.conf ;

	location ~ \.php$ {
		try_files $uri =404 ;
		fastcgi_split_path_info ^(.+\.php)(/.+)$ ;
		fastcgi_pass {{ wordpress_prefix }}{{ site_key }}:9000 ;
		fastcgi_index index.php ;
		include fastcgi_params ;
		fastcgi_param SCRIPT_FILENAME /var/www/html$fastcgi_script_name ;
		fastcgi_param PATH_INFO $fastcgi_path_info ;
	}

	## additional config
	include /etc/nginx/conf.d/modules/general.conf ;

{% if site.multisite %}
	include /etc/nginx/conf.d/modules/wordpress-multisite.conf ;

	location ^~ /blogs.dir {
		internal ;
		alias $base/{{ site.domain }}/wp-content/blogs.dir ;
		access_log off ;
		log_not_found off ;
		expires max ;
	}
{% else %}
	include /etc/nginx/conf.d/modules/wordpress.conf ;
{% endif %}
}

{% endfor %}
