TF_VAR_cloudflare_token="<INSERT_CLOUDFLARE_TOKEN_HERE>"
TF_VAR_digital_ocean_token="<INSERT_PERSONAL_ACCESS_TOKEN_HERE>"
TF_VAR_droplet_hostname="<INSERT_HOSTNAME_HERE>"
TF_VAR_project="<INSERT_PROJECT_HERE>"
TF_VAR_public_ssh_key="<INSERT_PUBLIC_SSH_KEY_HERE>"
TF_VAR_user_full_name="<INSERT_USER_FULL_NAME_HERE>"
TF_VAR_username="<INSERT_USERNAME_HERE>"
