services:
  mariadb:
    image: mariadb:12.2.2
    container_name: mariadb
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
    volumes:
      - mariadb:/var/lib/mysql
    deploy:
      resources:
        limits:
          memory: 384M
        reservations:
          memory: 256M
    networks:
      - app-network

{% for site_key, site_domain_name in sites_available.items() %}
  {{ wordpress_prefix }}{{ site_key }}:
    depends_on:
      - mariadb
    image: wordpress:6.9.4-php8.5-fpm
    container_name: {{ wordpress_prefix }}{{ site_key }}
    restart: unless-stopped
    env_file: .env
    environment:
      - WORDPRESS_DB_HOST=mariadb:3306
      - WORDPRESS_DB_NAME={{ wordpress_prefix }}{{ database_prefix }}{{ site_key }}
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD_{{ site_key }}
      - WORDPRESS_DB_USER=$MYSQL_USER_{{ site_key }}
    volumes:
      - {{ wordpress_prefix }}{{ site_key }}:/var/www/html
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M
    networks:
      - app-network

{% endfor %}
  nginx:
    depends_on:
{% for site_key, site_domain_name in sites_available.items() %}
      - {{ wordpress_prefix }}{{ site_key }}
{% endfor %}
    image: nginx:1.28.3
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot-etc:/etc/letsencrypt
      - /home/{{ ssh_user }}/stuff/docker/nginx/conf.d:/etc/nginx/conf.d:ro
{% for site_key, site_domain_name in sites_available.items() %}
      - {{ wordpress_prefix }}{{ site_key }}:/var/www/html/{{ site_domain_name }}
{% endfor %}
    deploy:
      resources:
        limits:
          memory: 96M
        reservations:
          memory: 48M
    networks:
      - app-network

  certbot:
    image: certbot/certbot:v5.4.0
    container_name: certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    volumes:
      - certbot-etc:/etc/letsencrypt
{% for site_key, site_domain_name in sites_available.items() %}
      - {{ wordpress_prefix }}{{ site_key }}:/var/www/html/{{ site_domain_name }}
{% endfor %}

volumes:
  certbot-etc:
  mariadb:
{% for site_key, site_domain_name in sites_available.items() %}
  {{ wordpress_prefix }}{{ site_key }}:
{% endfor %}

networks:
  app-network:
    driver: bridge
